// 全局css
$headerHeight = 1rem // 行高
$bgColor = #f2f2f2
$topMargin = .16rem // 模块间的间隔
$mainColor = #fd6701
$orderLineHeight = .896rem
borderBottom(cu)
  border-bottom: cu solid #eee
button_common()
  line-height: .7rem
  height: .7rem
  display: inline-block
  background: #fff
  padding: 0 .4rem
  border: .01rem solid #e0e0e0
  margin: 0 .1rem .1rem 0

